<h1>Days per waiter</h1>
<form class="" action="/admin" method="post">
  <table>
    <tr>
      <th>waiter</th>
      <th>Days</th>

    </tr>
  </table>

</form>
<div class="">
  {{displayDays}}
</div>
