body{
  background-color: #48C9B0  ;
}
table, th, td {
    border: 1px solid black;
    border:2px solid;
    padding:10px 40px;
    width:150px;
    resize:both;
    overflow:auto;
}
h1 {
    text-align: center;
    color: green;
    font-size: 90px;
    background-position: center;
    background-color: white;
}
h2{
  color: white;
  font-size: 90px;
}
.color1{
  background-color: green;
}
.color2{
  background-color: blue;
}

.color3{
  background-color: yellow;
}
li{
  list-style: none;
}
